services:

  app-redis:
    image: redis:latest
    ports:
      - "6379:6379"
    networks:
      - redis-bankplaces-network

  app-redisbankplaces:
    build:
      context: ./
      dockerfile: Dockerfile
    environment:
      - REDIS_HOST=app-redis
      - REDIS_PORT=6379
    ports:
      - "8080:8080"
    networks:
      - redis-bankplaces-network
    depends_on:
      - app-redis

  redisinsight:
    container_name: redisinsight
    image: redis/redisinsight:latest
    environment:
      RI_DATABASE_MANAGEMENT: "false"
      RI_REDIS_HOST: "app-redis"
    ports:
      - 8001:5540
    networks:
      - redis-bankplaces-network
    depends_on:
      - app-redis

networks:
  redis-bankplaces-network:
    driver: bridge
